<div class="check-mans">
    <input id="{{name}}-check-man-3" type="radio" class="check-man__radio" name="check-man-{{name}}" value="3" />
    <label for="{{name}}-check-man-3" class="check-man__label check-man__label--3">
    </label>

    <input id="{{name}}-check-man-2" type="radio" class="check-man__radio" name="check-man-{{name}}" value="2" />
    <label for="{{name}}-check-man-2" class="check-man__label check-man__label--2">
    </label>

    <input id="{{name}}-check-man-1" type="radio" class="check-man__radio" name="check-man-{{name}}" value="1" />
    <label for="{{name}}-check-man-1" class="check-man__label check-man__label--1">
    </label>
</div>